# Various editor backup files
\#*\#
.\#*
.*~

# Cached python compiled filed
*.pyc
*.pyo
__pycache__
*.egg-info

# Compliation results
*.so
*.dylib
*.o
pyljfluid/*.c
!pyljfluid/lj_forces.c

# Build results
build/

# Demox (not currently manaaged)
Demox/