body {
    font:100%/1.4 Arial, Helvetica, sans-serif;
    margin-bottom:10px;
    width: 950px;
}

#head {
    border-bottom:1px solid #CCC;
    padding-bottom:10px;
    magin-bottom:10px;
    font-weight: normal;
}

#head a {
    display:block;
    text-decoration: none;
    color: #4382b4;
}

#head a:hover {
    text-decoration: underline;
}


#head span {
}

#explain {
    float: left;
    width: 540px;
    margin: 0 10px 0 20px;
}

#explain h2 {
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 5px 0;
    padding: 0;
}

#getsource {
    color: #4382b4;
}

#results img {
    float: left;
    margin-bottom: 20px;
}

pre {
	background-color: #f0f0f0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	font-size: 13px;
	font-family: Bitstream Vera Sans Mono,monospace;
}